form {
  margin: auto;
  padding: 1em;
  max-width: 500px;

  > div {
    text-align: center;
  }

  > fieldset {
    padding: 1em;
    border: 1px solid black;
    box-shadow: 0.2em 0.2em 0.2em 0 lightgrey;

    > fc-toggle {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}
