<form
  novalidate
  #form="ngForm"
>
  <div>
    <fc-button
      [isDisabled]="disabled"
      (clicked)="restart.emit()"
    >
      Restart&nbsp;&nbsp;
      <icon
        type="refresh"
        size="1em"
        [fill]="[formService.model.xColor,formService.model.oColor]"
      ></icon>
    </fc-button>
  </div>
  <fieldset>
    <legend>
      Settings
      <icon
        type="gear"
        size="1em"
        [fill]="['247000', '000000']"
      ></icon>
    </legend>
    <div class="settings">
      <fc-text
        [(ngModel)]="formService.model.player1"
        name="player1"
        [maxLength]="20"
      >
        Player 1
        <icon
          size="1em"
          [type]="formService.model.isBotEnabled && formService.model.isBotFirst ? 'ring' : 'times'"
          [fill]="formService.model.isBotEnabled && formService.model.isBotFirst ? formService.model.oColor : formService.model.xColor"
        ></icon>
      </fc-text>
      <fc-text
        [(ngModel)]="formService.model.player2"
        name="player2"
        [disabled]="formService.model.isBotEnabled"
        [maxLength]="20"
      >
        Player 2
        <icon
          *ngIf="!formService.model.isBotEnabled"
          size="1em"
          type="ring"
          [fill]="formService.model.oColor"
        ></icon>
      </fc-text>
      <fc-color
        [(ngModel)]="formService.model.xColor"
        name="xColor"
      >
        X Theme
        <icon
          type="times"
          size="1em"
          [fill]="formService.model.xColor"
        ></icon>
      </fc-color>
      <fc-color
        [(ngModel)]="formService.model.oColor"
        name="oColor"
      >
        O Theme
        <icon
          type="ring"
          size="1em"
          [fill]="formService.model.oColor"
        ></icon>
      </fc-color>
    </div>
  </fieldset>
  <fieldset>
    <legend>
      Bot Settings
      <icon
        type="user"
        size="1em"
        [fill]="['247000', '000000']"
      ></icon>
    </legend>
    <div class="bot-settings">
      <fc-choice
        [(ngModel)]="formService.model.isBotEnabled"
        (ngModelChange)="restart.emit()"
        name="isBotEnabled"
        required
        [disabled]="disabled"
        [items]="booleans"
      >
        Play
        <icon
          *ngIf="formService.model.isBotEnabled"
          size="1em"
          [type]="formService.model.isBotFirst ? 'times' : 'ring'"
          [fill]="formService.model.isBotFirst ? formService.model.xColor : formService.model.oColor"
        ></icon>
      </fc-choice>
      <fc-choice
        [(ngModel)]="formService.model.isBotFirst"
        (ngModelChange)="restart.emit()"
        name="isBotFirst"
        required
        [disabled]="!formService.model.isBotEnabled || disabled"
        [items]="booleans"
      >
        Go first
      </fc-choice>
      <fc-choice
        [(ngModel)]="formService.model.botFirstMove"
        (ngModelChange)="restart.emit()"
        name="botFirstMove"
        required
        [disabled]="!formService.model.isBotEnabled || !formService.model.isBotFirst || disabled"
        [items]="botFirstMoves"
      >
        First move
      </fc-choice>
    </div>
  </fieldset>
</form>
