<form novalidate [formGroup]="menuService.form">
  <span class="text-left">
    <input type="text" formControlName="x" />
  </span>
  <span class="bot" [formGroup]="menuService.form.get('bot')">
    <label>
      Is Bot enabled?
      <input type="checkbox" formControlName="isBotEnabled" />
    </label>
    <label>
      Is Bot first?
      <input type="checkbox" formControlName="isBotFirst" />
    </label>
    <label>
      Is Bot allowed to take center first?
      <input type="checkbox" formControlName="isBotAllowedCenter" />
    </label>
  </span>
  <span class="text-right">
    <input type="text" formControlName="o" class="text-right" />
  </span>
</form>