<form novalidate [formGroup]="menuService.form">
  <span style="text-align: left">
    <input type="text" value="Player 1" />
  </span>
  <div class="flex">
    <label>
      Is Bot enabled?
      <input type="checkbox" formControlName="isBotEnabled" />
    </label>
    <label>
      Is Bot first?
      <input type="checkbox" formControlName="isBotFirst" />
    </label>
    <label>
      Is Bot allowed to take center first?
      <input type="checkbox" formControlName="isBotAllowedCenter" />
    </label>
  </div>
  <span style="text-align: right">
    <input type="text" value="Bot" style="text-align: right" />
  </span>
</form>