#game {
  background: radial-gradient(black, white);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
}

ttt-form {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
}