:host {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  background-image: radial-gradient(black, white);
}

div {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
