button {
  width: 100%;
  height: 100%;
  background: white;
  padding: 0;
  border: 0;
  margin: 0;
  font-size: x-large;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .hover {
    display: none;
    opacity: 0.3;
  }

  &:disabled {
    opacity: 1;
    cursor: default;
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: inset 0 0 0.5em lightgrey;
    &:disabled {
      box-shadow: none;
    }
    .hover {
      display: inherit;
      animation: fadeIn 1s ease;
    }
  }

  &.highlight.x span {
    animation: spinX 1s linear infinite;
  }

  &.highlight.o span {
    animation: spinO 1s linear infinite;
  }
}

@keyframes fadeIn {
  from { opacity: 0 }
}


@keyframes spinO {
  from { transform: rotateY(0deg) }
  to { transform: rotateY(360deg) }
}

@keyframes spinX {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}