<button
  type="button"
  [class.highlight]="highlight === true"
  [class.o]="cell.state === 'o'"
  [class.x]="cell.state === 'x'"
  [disabled]="cell.state !== undefined || disabled === true"
  (click)="claim.emit(cell)"
>
  <icon
    *ngIf="cell.state === 'x'"
    type="times"
  ></icon>
  <icon
    *ngIf="cell.state === 'o'"
    type="ring"
  ></icon>
  <!-- <img
    *ngIf="cell.state === 'x'"
    draggable="false"
    src="assets/x.svg"
  > -->
  <!-- <img
    *ngIf="cell.state === 'o'"
    draggable="false"
    src="assets/o.svg"
  > -->
  <img
    *ngIf="cell.state === undefined"
    class="hover"
    draggable="false"
    src="assets/{{gameTurn === 'x' ? 'x' : 'o'}}.svg"
  >
</button>
