button {
  width: 100%;
  height: 100%;
  position: relative;
  background: white;
  padding: 0;
  border: 0;
  margin: 0;
  font-size: x-large;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .hover {
    display: none;
    opacity: 0.3;
  }

  &:disabled {
    opacity: 1;
    cursor: default;
  }

  &:hover,
  &:focus {
    .hover {
      display: inherit;
      animation: fadeIn 1s ease;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.label,
.bot-label {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;

  overflow-wrap: anywhere;
}
.label > label {
  background-color: white;
  color: black;
  padding: 0 0.1em;
}
.bot-label > label {
  background-color: black;
  color: white;
  padding: 0 0.1em;
}
