<button
  type="button"
  [class.o]="cell.state === 'o'"
  [class.x]="cell.state === 'x'"
  [disabled]="cell.state !== undefined || disabled === true"
  (click)="claim.emit(cell)"
>
  <icon
    *ngIf="cell.state === 'x'"
    type="times"
    [fill]="formService.model.xColor"
    [spin]="highlight ? 'x' : null"
  ></icon>
  <icon
    *ngIf="cell.state === 'o'"
    type="ring"
    [fill]="formService.model.oColor"
    [spin]="highlight ? 'y' : null"
  ></icon>
  <icon
    *ngIf="cell.state === undefined"
    [type]="gameTurn === 'x' ? 'times' : 'ring'"
    class="hover"
    [fill]="gameTurn === 'x' ? formService.model.xColor : formService.model.oColor"
  ></icon>
  <span class="{{isBot ? 'bot-label' : 'label'}}">
    <label>{{label}}</label>
  </span>
</button>