$blue: #34d0eb;
$orange: #f8994d;

body {
  font-family: Arial;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 1em;
  }
  &::-webkit-scrollbar-track {
    background: white;
  }
  &::-webkit-scrollbar-thumb {
    background: white;
    border: 0.25em solid lightgrey;
    &:active,
    &:hover {
      border: 0.25em solid black;
      box-shadow: 0 0 0.5em black;
    }
  }
}

button {
  background: white;
  border-color: lightgrey;
  border-width: medium;
  padding: 0.5em;

  font-size: 1em;
  user-select: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &:focus,
  &:hover {
    outline: none;
    box-shadow: 0 0 0.5em black;
    &:disabled {
      box-shadow: none;
    }
  }
}
