$blue: #34d0eb;
$orange: #f8994d;

body {
  font-family: Arial;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 1em;
  }
  &::-webkit-scrollbar-track {
    background: white;
  }
  &::-webkit-scrollbar-thumb {
    background: repeating-linear-gradient(
      45deg,
      white,
      $blue 5%,
      $orange 10%,
      white 15%
    );
    box-shadow: inset 0 0 0.25em black;
    &:active,
    &:hover {
      box-shadow: 0 0 1em black;
    }
  }
}
